.feedback {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    .feedback-heading {
        text-align: center;
    }
    .feedback-stars {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        .star {
            cursor: pointer;
            opacity: 1;
            font-size: 30px;
        }
        .not-selected {
            font-size: 40px;
            cursor: pointer;
            opacity: 0.3;
        }
    }
    .feedback-submit-button {
        display: flex;
        justify-content: end;
        align-items: end;
        padding-right: 30px;
        height: 25%;
        button {
            cursor: pointer;
            outline: none;
            border: none;
            padding: 8px 16px;
            background-color: #8BC34A;
            color: white;
            font-size: 18px;
            border-radius: 10px;
            &:focus{
                outline: none;
            }
        }
    }
}